body {
	background-color: #202020;
}

#contentwrapper {
	display: flex;
	justify-content: center;
}

#contentbox {
	width: 792px;
}

#titlebar {
	position: absolute;
	text-align: center;
	top: 10px;
	background-color: #3a3a3a;
	width: 792px;
	height: 75px;
	border-radius: 8px;
}

h2 {
	color: white;
	font: 50px Calibri;
	margin-top: 7px;
}

#calccontainer {
	position: absolute;
	min-width: 792px;
	top: 102px;
}

#sidebar {
	position: relative;
	float: left;
	background-color: #3a3a3a;
	width: 200px;
	height: 500px;
	padding: 18px;
	border-radius: 8px;
}

#picker {
	margin-left: 7px;
	width: 100%;
	height: 26%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.radiocontainer {
	width: 50%;
	margin-bottom: 25px;
}

.radiolabel {
	display: block;
	position: relative;
	padding-bottom: 12px;
	cursor: pointer;
	font-size: 18px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.radiolabel input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.radiobox {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 80%;
	border: 3px;
	border-style: solid;
	border-radius: 3px;
	color: white;
	font: 18px Calibri;
	opacity: 0.75;
	text-align: center;
	transition: opacity 0.5s cubic-bezier(0.2, 0.4, 0.3, 1);
	-webkit-transition: opacity 0.5s cubic-bezier(0.4, 0, 0.3, 1);
	-moz-transition: opacity 0.5s cubic-bezier(0.4, 0, 0.3, 1);
}

#menuitemdeadcellbox {
	background-color: grey;
	border-color: grey;
}

.radiolabel input:checked~#menuitemdeadcellbox {
	border-color: gold;
}

#menuitemmissbox {
	background-color: firebrick;
	border-color: firebrick;
}

.radiolabel input:checked~#menuitemmissbox {
	border-color: gold;
}

#menuitemhitmedbox {
	color: black;
	font-weight: bold;
	background-color: lawngreen;
	border-color: lawngreen;
}

.radiolabel input:checked~#menuitemhitmedbox {
	border-color: gold;
}

#menuitemhitlargebox {
	background-color: lightseagreen;
	border-color: lightseagreen;
}

.radiolabel input:checked~#menuitemhitlargebox {
	border-color: gold;
}

#menuitemhitsmallbox {
	background-color: purple;
	border-color: purple;
}

.radiolabel input:checked~#menuitemhitsmallbox {
	border-color: gold;
}

#menuitemclearbox {
	color: black;
	font-weight: bold;
	background-color: white;
	border-color: white;
}

.radiolabel input:checked~#menuitemclearbox {
	border-color: gold;
}

.radiolabel:hover input~.radiobox {
	opacity: 1;
}

.radiolabel input:checked~.radiobox {
	opacity: 1;
}

.testradio:after {
	content: "";
	position: absolute;
	display: none;
}

.radiolabel input:checked~.radiobox:after {
	display: block;
}

.menucolumncontainer {
	display: flex;
}

.menucolumn {
	width: 98px;
}

.menucolumncontent {
	margin: 0;
}

.menulabel {
	min-width: 20px;
	font: 18px Calibri;
	color: white;
}

.menulabelsmall {
	width: 50%;
	font: 16px Calibri;
	color: white;
	margin-bottom: 0;
}

h1 {
	margin: 10px;
	margin-left: 0;
	margin-bottom: 3px;
	margin-top: 3px;
	font: 22px Calibri;
	color: darksalmon;
}

h4 {
	color: lightskyblue;
	font: 16.5px Calibri;
	padding-left: 25px;
}

.weights {
	font: 18px Calibri;
	width: 80px;
}

#scorebox {
	margin-top: 8px;
}

#buttongroup {
	position: absolute;
	display: inline-block;
	bottom: 10px;
	left: 10px;
}

.menubutton {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input[type=checkbox] {
	-ms-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
}

#liveupdatelabel {
	font: 14px Calibri;
	color: white;
}

#wrapper {
	position: relative;
	float: left;
	margin-left: 20px;
	background-color: #3a3a3a;
	width: 500px;
	height: 500px;
	padding: 18px;
	border-radius: 8px;
}

.block {
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	width: 15.83333333%;
	min-height 15.83333333%;
	height: 15.83333333%;
	float: left;
	font: 18px Calibri;
	text-align: center;
	margin: 0.4166666667%;
	opacity: 0.9;
	cursor: pointer;
	transition: background-color 0.5s cubic-bezier(0.4, 0, 0.3, 1);
	-webkit-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.3, 1);
	-moz-transition: background-color 0.5s cubic-bezier(0.4, 0, 0.3, 1);
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-o-user-select: none;
}

#descriptionbox {
	position: absolute;
	top: 655px;
	background-color: #3a3a3a;
	width: 792px;
	min-height: 100px;
	padding-bottom: 10px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
}

h3 {
	color: darksalmon;
	margin: 5px;
	font: 24px Calibri;
	text-align: center;
}

.description {
	color: white;
	font: 17px Calibri;
	margin-left: 20px;
	margin-right: 20px;
	word-wrap: break-word;
}

.indented {
	padding-left: 40px;
}

.signature {
	color: white;
	font: 14px Calibri;
	margin-top: 20px;
	margin-left: 20px;
	text-align: center;
}

a {
	color: white;
}

a:link {
	color: lightskyblue;
}

a:visited {
	color: lightskyblue;
}

a:active {
	color: white;
}